.post{
    margin: 1rem;
    padding: 1rem;
    background-color: #3e7ddb;
    box-shadow: 0 2px 8px rgba(157, 216, 250, 0.26);
    border-radius: 12px;
    text-align: center;
    color: white;
}
.post h2 {
    font-size: 2rem;
    color:black;
  }
  
  .box{
      transition: 1s;
  }
  .box:hover{
      transform: scale(1.03);
  }