.ant-card {
    transition: 1s;
}
.ant-card{
    transform: scale(1.02);
}
.container-fluid{
    background-color:#fffdd0 ;
}
Card{
   background:linear-gradient(to bottom ,rgba(195, 221, 232, 1), rgba(136, 210, 242, 1));
}