.form{
    width : 40%;
    margin:0% 5%;
    margin-left: 28%;
}
.title {
    text-align: center;
}
@media (max-width:650px){
    .title{
        margin-top:3%;
    }
    .title h1 {
        margin-top:5%;
    color:teal;
    }
}